md-toolbar {
  &.ios-statusbar-overlay {
    min-height: 76px;
    padding-top: 20px;
  }
}

.md-toolbar-tools {
  > .md-button {
    &:first-child {
      margin-left: -16px;
    }
    &:last-child {
      margin-right: -16px;
    }
  }
  h2 {
    text-align: center;
  }
}
